* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark:rgb(47, 47, 47);
    --light:#fff;
}
.section {
    padding: 10vh 12rem;
    text-align: center;
    height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    text-align: left;

}

.light_section {
    background-color:var(--light) ;
    color: var(--dark);
}

.heading {
    font-size: 5rem;
}

.paragraph {
    text-align: justify;
}

.button {
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {

    .heading {
        font-size: 2rem;
    }
}